<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' +person.getAgeOfBirth()}">VALUE</p>
<p th:text="${person.getPersonId()}">VALUE</p>

<div th:if="${personBooks.isEmpty()}">Person have not taken any books yet</div>
<div th:unless="${personBooks.isEmpty()}">
    <li th:each="book : ${personBooks}">
        <span th:text="${book.title + ', ' + book.author + ', ' + book.ageOfPublishment}">VALUE</span>
    </li>
</div>

<br/>

<a th:href="@{/people/{id}/edit(id=${person.getPersonId()})}">Edit</a>

<br/>
<br/>

<a href="/people">Back to people</a>

<br/>
<hr/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>