<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' +person.getAgeOfBirth()}">VALUE</p>

<div th:if="${personBooks.isEmpty()}">Person have not taken any books yet</div>
<div th:unless="${personBooks.isEmpty()}">
    <hr/>
    <p>Books:</p>
    <li th:each="book : ${personBooks}">
        <a th:href="@{/books/{id}(id=${book.getBookId()})}"
           th:text="${book.title + ', ' + book.author + ', ' + book.ageOfPublishment}">book</a>
    </li>
</div>

<br/>
<hr/>
<form th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <input type="submit" value="Edit">
</form>

<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Delete"/>
</form>

<br/>

<form action="/people">
    <input type="submit" value="Back"/>
</form>

</body>
</html>