<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' +person.getAgeOfBirth()}">VALUE</p>
<p th:text="${person.getPersonId()}">VALUE</p>

<a th:href="@{/people/{id}/edit(id=${person.getPersonId()})}">Edit</a>

<br/>
<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Delete"/>
</form>

<br/>
<hr/>

<a href="/people">Back to people</a>

</body>
</html>